body{
  background-color: olive;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
}
.box{
  text-align: center;
}
.payment{
  padding-top: 25%;
}
#first{
  width: 500px;
  float: left;
  height: 500px;
  background-color: #6699ff;
  margin: auto;
  margin-left: 26%;
  font-size: 23px;
  font-weight: bold;
  color: #002266;
}
#second{
  width: 500px;
  float: left;
  height: 500px;
  background-color: #00e64d;
  margin: auto;
  margin-left:10%;
  font-size: 23px;
  font-weight: bold;
  color: #006622;
}
#venmotitle{
  padding-top: 15%;
  font-size: 35px;
}
#cashapptitle{
  padding-top: 15%;
  font-size: 35px;
}
