body {
    margin: 0;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    font-family: sans-serif;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .researchImage {
      height: 20em;
  }
  .researchImage img {
       width: 100%;
       height: 20em; 
       object-fit: cover;
  }

  .logo {
        background-color: #2d2d86;
        height: 20em;
        max-width: 100%;
        background-position: center;
        background-size: cover;
        margin: 0;
  }

  .logo .text {
      text-align: center;
      padding: 100px 0;
      margin: 0;
      height: 20em;
  }

  .text h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #00e64d;
  }

  .text h3 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #ffd966;
  }

  .info {
    background-color: #333;
    height: 20em;
    width: auto;
    background-position: center;
    background-size: cover;
  }
  .info p {
    font-family: Arial, Helvetica, sans-serif;
    color: #4CAF50;
    text-align: center;
    padding: 100px 0;
    margin: 0;
  }

  .donate-button {
    background-color: #4CAF50;
    height: 15em;
    width: auto;
    background-position: center;
    background-size: cover;
  }
  .donate-button h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
    padding: 60px 0;
    margin: 0;
  }
  
  .donate-button a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
